// ------------------------------------------------------------
// File Name: _calculator.scss
// Description: Global calculator styles.
// Used by: calculator.scss
// Dependencies:
// ------------------------------------------------------------

.calculatorBox {
  position: absolute; /* Only way we can vertically and horizontilly to center it. */
  top: 50%;
  left: 50%;
  /* To translate the element half of its width and of its height, up to the left */
  transform: translate(-50%, -50%);
}

.calculator {
  background-color: #999;
  width: 305px;
  height: 330px;
  border: 3px black solid;
  margin: 10px auto;
  padding: 5px;
  border-radius: 10px;

	a {
		display: block;
		float: left;
		cursor: pointer;
		text-decoration: none;
		text-align: center;
    background: linear-gradient(#ededed, #dcdcdc);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dcdcdc');
	  border-radius: 10px;
	  color: black;
	}
}

.btn-calculator {
  margin: auto;
}

.btn-calculator a {
	width: 62px;
	height: 52px;
	font-size: 33px;
	padding: 5px 3px;
	margin: 5px 5px;
}

.calculator-display {
  height: 65px;
  width: 280px;
  margin: auto;
  background-color: white;
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: right;
  font-size: 60px;
}

.auto-scaling-text {
  display: inline-block;
}

.calculator-display .auto-scaling-text {
  padding: 0 5px;
  right: 0;
  transform-origin: right;
}
