// ------------------------------------------------------------
// File Name: _grid.scss
// Description: Global application constants.
// Used by: calculator.scss
// Dependencies:
// ------------------------------------------------------------

$primary-color: #12826c; /* darkest green sea */
$font-base-color: #2a2a2a;

$font-base-size: 20px;
$font-base-weight: 300; /* family=Lato:400,300,300italic,100 */

/* Absolute value in pixels for the fluid grid. */
$max-width-fluid-grid: 1140px;
