// ------------------------------------------------------------
// File Name: _reset.scss
// Description: Media Queries
// Used by: calculator.scss
// Dependencies:
// ------------------------------------------------------------

$offset: 16px; /* 4 x 4 buttons. */

/* Big tablet to 1200px (widths smaller that the 1140px row) */
@media only screen and (max-width: 1200px) {
  .row {
    padding: 0 2%;
  }
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
  $difference: 5px;

  body {
    font-size: 16px;
  }

  .row {
    padding: 0 4%;
  }

  .calculator {
    width: calc(305px - #{$difference + $offset});
    height: calc(330px - #{$difference + $offset});
  }

  .btn-calculator a {
  	width: calc(62px - #{$difference});
  	height: calc(52px - #{$difference});
    font-size: calc(33px - #{$difference});
  }

  .calculator-display {
    height: calc(65px - #{$difference});
    width: calc(280px - #{$difference + $offset});
    font-size: calc(60px - #{$difference});
  }

  h1 { font-size: 180%; }
  h2 { font-size: 150%; }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  $difference: 10px;

  .calculator {
    width: calc(305px - #{$difference + $offset + 15px});
    height: calc(330px - #{$difference + $offset + 20px});
  }

  .btn-calculator a {
    width: calc(62px - #{$difference});
    height: calc(52px - #{$difference});
    font-size: calc(33px - #{$difference});
  }

  .calculator-display {
    height: calc(65px - #{$difference});
    width: calc(280px - #{$difference + $offset + 15px });
    font-size: calc(60px - #{$difference});
  }
}
