// html {
//   box-sizing: border-box;
// }
//
// *, *:before, *:after {
//   box-sizing: inherit;
// }
//
// body {
//   margin: 0;
//   font: 100 14px 'Roboto';
// }

// ------------------------------------------------------------
// File Name: _reset.scss
// Description: Removing all margins and paddings.
// Used by: calculator.scss
// Dependencies:
// ------------------------------------------------------------

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------------------------------------------- */
/* BASE SETUP */
/* ----------------------------------------------- */

html {
  background-color: #fff;
  color: $font-base-color;   /* Page default font color. */
  font: 100 14px 'Roboto';

  /* Overall font weight size for the project */
  font-weight: $font-base-weight;
  font-size: $font-base-size;

  /* Rendering text in perfect way */
  text-rendering: optimizeLegibility;
}

.row {
  max-width: $max-width-fluid-grid;
  margin: 0 auto; /* Center the grid (0 auto 0 auto). */
}

/* ----------------------------------------------- */
/* HEADINGS */
/* ----------------------------------------------- */

h1,
h2,
h3 {
  font-weight: $font-base-weight; /* comes with bold, we don't want it. */
}

h1 {
  font-size: 240%;
  word-spacing: 4px;
  margin-top: 0;
  margin-bottom: 20px;
  letter-spacing: 1px;
  /* basic font size 20px in rwd to be relative 200% this mean is exactly 200% of 20 pixels. */
}

h2  {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: $primary-color;
  /* using after we have to specify its content. */
  content: "";
  width: 100px;
  /* center it */
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}
